*{
	margin: 0;
	padding: 0;

}

 #cursor {
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	margin: 1em;
	margin-top: 1.5em;
} 
.custCursor {
	position: absolute;
	top: -100px;
	left: -100px;
	height: 2em;
	width: 2em;
	/* cursor: wait; */
	z-index: 200;
	background-color: aqua;	
	border-radius: 50%;;
} 
#startAndStop{
	background-color: lemonchiffon;
	padding: 1em;
	padding-left: 2.5em;
	margin: 1em;
}
#replayRecording{
	padding: 1em;
	
}
